@import 'colors';
@import 'fonts';
@import 'media-queries';

.nav {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: $clr-primary-400;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1170px;
        margin: 0 30px;
    }

    &__logo {
        font-size: 20px;
        font-weight: 700;
        color: $clr-light;
        text-decoration: none;
        cursor: pointer;
    }

    &__menu {
        display: none;
        @include desktop {
            display: flex;
            align-items: center;
            gap: 50px;
            position: relative;
            color: $clr-light;
            list-style: none;
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: -30px;
            height: 40px;
            width: 1px;
            background-color: $clr-light;
            opacity: 0.3;
        }
    }

    &__dropdown {
        display: none;
        @include desktop {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $clr-light;
            cursor: pointer;
        }
    }

    &__group {
        display: flex;
        gap: 60px;
    }

    &__icons {
        display: none;
        color: $clr-light;

        @include tablet {
            display: flex;
            gap: 30px;
            position: relative;
        }

        &::after {
            content: "";
            position: absolute;
            top: -10px;
            right: -30px;
            height: 40px;
            width: 1px;
            background-color: $clr-light;
            opacity: 0.3;

            @include desktop {
                left: -30px;
            }
        }
    }

    &__icon {
        font-size: 20px;
        cursor: pointer;
    }

    &__hamburger {
        display: flex;
        align-items: center;
        font-size: 25px;
        color: $clr-light;
        cursor: pointer;

        @include tablet {
            display: none;
        }

        &--submenu {
            display: none;

            @include tablet {
                display: initial;
            }

            @include desktop {
                display: none;
            }
        }
    }

    &__submenu {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 999;
            width: 360px;
            padding: 30px;
            background: $clr-primary-400;
            transition: all 0.4s ease-in-out;
            transform: translateY(-110%);
        }

        @include desktop {
            display: none;
        }

        &__close-icon {
            position: absolute;
            top: 30px;
            right: 30px;
            color: $clr-light;
            font-size: 20px;
            cursor: pointer;
        }

        &__dropdown {
            margin: 30px;
            color: $clr-light;
            text-transform: uppercase;
            font-size: 1.5rem;
            cursor: pointer;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: relative;
            width: 100%;
            padding: 30px;
            list-style: none;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $clr-light;
                opacity: 0.3;
            }
        }

        &__item {
            color: $clr-light;
            text-transform: uppercase;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
